name: Release kernel images

on:
  workflow_dispatch:

defaults:
  run:
    working-directory: images/kernel

jobs:
  kernel:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 4.14.254, 4.19.215, 5.4.157, 5.10.77, 5.14.16 ]
    env:
      KERNEL_VERSIONS: ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v2
      - name: Login to container registry
        uses: docker/login-action@v1.14.0
        with:
          registry: docker.io
          username: weaveworksigniteci
          password: ${{ secrets.DOCKERHUB_PASSWORD_WEAVEWORKSIGNITECI }}
      - run: make
        env:
          GOARCH: amd64
      - run: make
        env:
          GOARCH: arm64
      - run: make push
